<div class="container moviePrint">
    <div class="content">
        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjQyODg5Njc4N15BMl5BanBnXkFtZTgwMzExMjE3NzE@._V1_UY268_CR1,0,182,268_AL_.jpg"
            alt="">
        <h3>Deadpool (2016)</h3>
        <span>Genre: Action, Adventure, Comedy</span>
        <span>Rating: 8,0/10</span>
        <p>Plot: A fast-talking mercenary with a morbid sense of humor is subjected to a rogue experiment that leaves him with accelerated
            healing powers and a quest for revenge.</p>
        <span>Director: Tim Miller</span>
        <br>
        <span>Cast:</span>
        <ul>
            <li>Ryan Reynolds</li>
            <li>Karan Soni</li>
            <li>Ed Skrein</li>
            <li>Michael Benyaer</li>
        </ul>
    </div>
</div>