<!-- <div class="container-fluid moviesInTheaters" ng-controller="inTheatersShow">
    <h3 style="text-align: center;">In Theaters</h3>
    <div ng-repeat='m in movies'>
        <a href="#"><img class="posters" src="{{m.poster}}" alt=""></a>
    </div>
</div> -->

<!-- aaaaaa -->
<div ng-controller="inTheatersShow">
    <h3 style="text-align: center;">In Theaters</h3>
    <div ng-repeat='m in movies'>
        <div style="float: left;" class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <img class="posters" src="{{m.poster}}" alt="">
                </div>
                <div class="back">
                    <h3 style="text-align: center;">{{m.name}}</h3>
                    <h4 style="text-align: center;">({{m.date}})</h4>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{m.plot}}</p>
                    <button class="showInfo" id="{{m._id}}">More Info</button>
                </div>
            </div>
        </div>
    </div>
</div>