/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body {
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  white-space: normal;
  background:#000;
}
#header-site {
  background: #262727 none repeat scroll 0 0;
  border-bottom: 2px solid #cf4137;
  float: left;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo-site {
  float: left;
  height: 50px;
  margin: 5px 0 0px 10px;
  width: 140px;
}
.logo-site h1 {
  margin: 0;
}
.logo-site h1 a {
  float: left;
  height: 40px;
  width: 131px;
  text-indent:-999px;
  background-image:url(../images/logo.png);
  background-repeat:no-repeat;
  background-position:0px; 
  background-size:100px;
}

/*Notification Bell dropdown*/
.top-nav {
  padding: 0 5px;
}
.top-nav > li {
  display: inline-block;
  float: left;
}
.top-nav > li > a {
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
}
.top-nav > li span.badge {
  background: #ca3f02 none repeat scroll 0 0;
  border: 3px solid #262727;
  font-family: "Open Sans",sans-serif;
  font-size: 11px;
  font-weight: 300;
  padding: 2px 5px;
  position: absolute;
  right: 3px;
  top: 3px;
}
.dropdown-notification .dropdown-menu{width:275px;   max-width: 275px;
  min-width: 160px;}
.dropdown-notification > a {
  font-size: 18px !important;
  line-height: 29px !important;
}
.top-nav .dropdown-menu .dropdown-menu-list {
  list-style: outside none none;
  padding-left: 0;
  padding-right: 0 !important;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external {
  border-radius: 4px 4px 0 0;
  display: block;
  letter-spacing: 0.5px;
  overflow: hidden;
  padding: 15px;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external > h3 {
  display: inline-block;
  float: left;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #888;
  clear: inherit;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  margin-top: -1px;
  padding: 0;
  position: absolute;
  right: 10px;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external {
  background: #eaedf2 none repeat scroll 0 0;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list {
  list-style: outside none none;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a {
  clear: both;
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 16px 15px 18px;
  text-shadow: none;
  white-space: normal;
  border-bottom: 1px solid #eff2f6 !important;

}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .time {
  float: right;
  font-size: 11px;
  font-weight: 400;
  max-width: 75px;
  opacity: 0.7;
  padding: 1px 5px;
  text-align: right;
  background: #f1f1f1 none repeat scroll 0 0;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details {
  font-size:13px;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon {
  border-radius: 50%;
  margin-right: 10px;
}
.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
  background-color: #171717;
  color: #999999;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover {
  background: #f8f9fa none repeat scroll 0 0;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #ca3f02;
}

/*Toggle Navigation design*/
.navbar-default .navbar-toggle{ border:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: #a2a2a2;
  background-color: #171616;
}
@media(max-width:768px){
.navbar-collapse{ clear:both;}
  
}

.input-group{
  margin-top: 10px;
}

.tip{
  width: 40%;
  margin: auto;
}

.modalContainer{
  margin-top: 58px;
}

.index-social{
  background-color:#2c2c2c;
  color:#fff;
}
.link-area .fa-li{
  width:40px;
  height:40px;
  border-radius:50%;
  border:solid 1px #262727;
  list-style-type:none;
  margin:5px;
  display:inline-block;
}
.index-social a{
  color:#fff;
  font-size:25px;
  display:block;
  float:left;
  padding:10px;
}
.index-link h3{
  text-align:center;
 color:#f1f1f1;
 text-align:left;
 
}
.index-link{
  background-color:#262727;
}
.index-link ul{
  padding:0px;
}
.index-link ul li{
  list-style-type:none;
}
.index-link p{
  color: bisque;
  
}
.index-link ul li a{
text-decoration:none;
font-size:16px;
color:#fff;
display:block;
padding:5px 0;
text-align:left;
}
.index-link ul li a:hover{
   color: bisque;
}
.copy-c{
  padding-top:15px;
}

.link-area li a img{
  width: 38px;
  border-radius: 50%;
}

footer{
  clear: both;
}

section.awSlider .carousel{
  display:table;
  z-index:2;
  -moz-box-shadow: 0 0 4px #444;
	-webkit-box-shadow: 0 0 4px #444;
	box-shadow: 0 0 15px rgba(1,1,1,.5);
}

section.awSlider{
  margin:30px auto;
  padding:30px;
  position:relative;
  display:table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  padding-bottom: 100px;
}

section.awSlider:hover > img{
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity:1;
}

section.awSlider img{
   pointer-events: none;
   width: 400px;
   height: 500px;
}

section.awSlider > img{
  position:absolute;
  top:30px;
  z-index:1;
  transition:all .3s;
  filter: blur(1.8vw);
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw); 
  -o-filter: blur(2vw); 
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity:.5;
}
.btn-info{
  border-color: #262727;
}
.searchBtn, .searchBtn:active:focus, .btn-info, .btn-info:focus{
  background-color: #262727;
  border-color: #262727;
  width: 127px;
  height: 43px;
  margin-top: 6px;
  
}

.searchBtn:hover, .btn-info:hover{
  background-color: transparent;
  color: #ca3f02;
  border-color: #262727;
}

.angularRepeatDiv{
  background-color: #360F0F;
  height: 300px;
  overflow: auto;
  width: 583px;
  opacity:0.8;
}

.angularRepeatDiv span{
  color: white;
}

.angularRepeatDiv img{
  width: 100px;
  padding: 20px;
}

.moviePrint{
  float: right;
  width: 900px;
  padding-top: 60px;
}

.moviesInT{
  float: left;
  padding: 20px;
}

